$color_1: rgb(0, 0, 0);
$color_2: white;
$font-family_1: 'Franklin Gothic Medium';
$font-family_2: monospace;
$background-color_1: rgb(245, 245, 245);

* {
	box-sizing: border-box;
}

html {height: 100%;
  	position: relative;
}

header {
	display: grid;
	padding: 1em;
	background: rgb(245, 245, 245);
	overflow: hidden;
	img {
		margin-left: 50%;
		transform: translateX(-50%);
		width: 80px;
		height: auto;
	}
}
main {
	display: grid;
}
footer {
	display: grid;
	padding: 1em;
	background: rgb(255, 255, 255);
	height: 20vh;
	width: 100%;
	position: absolute;
}
body, .grid-container {
	grid-template-areas: "header"
						"main"
						"footer";
	margin: 0;
	min-height: 100%;
}
h1 {
	h2 {
		width: 50%;
		height: auto;
	}
	font-family: $font-family_1;
	text-shadow: 2px 4px 4px rgba(32, 32, 32, 0.6);
}
.main {
	min-height: calc(100vh - 40vh);
	text-align: center;
	overflow: hidden;
	float: none;
	width: 98%;
	padding: 1%;
	article {
		flex: 1;
		background: rgb(245, 245, 245);
	}
}
article {
	padding: 1em;
}
li {
	a {
		&:hover {
			background: rgb(189, 186, 186);
		}
		display: inline-block;
		color: $color_1;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
		font-family: $font-family_1;
		padding-left: 50px;
	}
	text-shadow: 2px 4px 4px rgba(155, 153, 153, 0.6);
	float: left;
}
ul {
	list-style-type: none;
	overflow: hidden;
	background-color: $background-color_1;
	opacity: 90%;
	text-align: center;
	margin-top: 5px;
	padding-left: 25%;
}
.footer-icons {
	list-style-type: none;
	overflow: hidden;
	background-color: rgb(255, 255, 255);
	opacity: 90%;
	text-align: center;
	margin-top: 5px;
	padding: 10px;
}
h3 {
	color: $color_2;
	text-align: center;
	font-family: $font-family_2;
	display: inline;
	font-size: 1.17em;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	font-weight: bold;
}
h2 {
	font-family: $font-family_1;
	text-shadow: 2px 4px 4px rgba(32, 32, 32, 0.6);
}
@media only screen and (max-width: 600px) {
	header {
		width: 100%;
		height: auto;
		background-size: 100% auto;
	}
	.menu {
		display: inline;
		overflow: hidden;
	}
	article {
		main {
			width: 100%;
			height: auto;
			background-size: 100% auto;
		}
	}
	img {
		width: 100%;
	}
}
@media (min-width: 600px) {
	ul {
		li {
			a {
				display: flex;
				justify-content: flex-start;
			}
		}
	}
	footer {
		.footer-icons {
			display: flex;
			justify-content: space-around;
		}
	}
}
@media (min-height: 70px) {
	ul {
		li {
			a {
				display: flex;
				justify-content: flex-start;
			}
		}
	}
}
@media (min-height: 500px) {
	footer {
		.footer-icons {
			display: flex;
			justify-content: space-around;
		}
	}
}
@media only screen and (max-width: 300px) {
	.img-footer {
		width: 100%;
	}
}
nav,.offcanvas {
  background-color: 245, 245, 245;
}
.navbar-toggler {
  border: none;
  background-color: 245, 245, 245;
}
.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

@media (max-width: 768px) {
  .navbar-nav > li:hover {
    background-color: #ffffff;
  }
}

.navbar-toggler {
	list-style-type: none;
	overflow: hidden;
	background-color: rgb(255, 255, 255);;
	text-align: center;
	margin-top: 5px;
	padding-left: 25%;
}

.nav-link {background-color: 245, 245, 245;}